openapi: 3.2.0
info:
  title: api-settings Merchandising API
  version: '2'
servers:
- url: https://api.clerk.io/v2
security:
- sec0: []
tags:
- name: Merchandising
paths:
  /merchandising:
    get:
      summary: /merchandising
      description: ''
      operationId: merchandising-get
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: campaigns
        in: query
        description: The ids for the merchandising campaign
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'status': 'ok',\n  'campaigns': [\n    {'id': 'saa',\n \t\t'name': 'saa',\n \t\t'description': '',\n \t\t'active': True,\n \t\t'start_at': None,\n \t\t'end_at': None,\n \t\t'rules': [{'action': 'pin', 'products': ['MC-PRBO1100']}],\n \t\t'triggers': [{'type': 'searches_all'}],\n \t\t'triggers_match': 'any'}\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
      tags:
      - Merchandising
    post:
      summary: /merchandising
      description: ''
      operationId: merchandising-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - campaigns
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                campaigns:
                  type: array
                  description: The campaigns which should be created. Consists of merchandising objects without ids.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{ 'status': 'ok',\n\t'campaign_ids':['c1','c2']}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
      tags:
      - Merchandising
    patch:
      summary: /merchandising
      description: ''
      operationId: merchandising-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - campaigns
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                campaigns:
                  type: array
                  description: The merchandising campaigns which should be updated. Consists of merchandising objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{ ''status'': ''ok'',}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
      tags:
      - Merchandising
    delete:
      summary: /merchandising
      description: ''
      operationId: merchandising-delete
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: campaigns
        in: query
        description: The ids for the merchandising campaigns which should be deleted
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'': ''ok'',}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
      tags:
      - Merchandising
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
