openapi: 3.2.0
info:
  title: api-settings Customers API
  version: '2'
servers:
- url: https://api.clerk.io/v2
security:
- sec0: []
tags:
- name: Customers
paths:
  /customers:
    get:
      summary: /customers
      description: Get customers from Clerk.io
      operationId: customers-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: customers
        in: query
        description: List of customers emails to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Customers
    post:
      summary: /customers
      description: Add or update customers in Clerk.io
      operationId: customers-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - customers
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                customers:
                  type: array
                  description: List of [customers](/reference/customer-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Customers
    patch:
      summary: /customers
      description: Patch existing customers in Clerk.io with new attributes or values.
      operationId: customers-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - customers
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                customers:
                  type: array
                  description: List of partial [customer](/reference/customer-resource) objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Customers
    delete:
      summary: /customers
      description: Delete customers from Clerk.io
      operationId: customers-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: customers
        in: query
        description: List of customer ID's to delete from Clerk.io
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Customers
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
