openapi: 3.2.0
info:
  title: api-settings Audiences API
  version: '2'
servers:
- url: https://api.clerk.io/v2
security:
- sec0: []
tags:
- name: Audiences
paths:
  /audiences:
    get:
      summary: /audiences
      description: ''
      operationId: audiences-get
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: The ids of the audiences to fetch
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Audiences
    post:
      summary: /audiences
      description: ''
      operationId: audiences-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                audiences:
                  type: array
                  description: The list of audiences to create
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Audiences
    patch:
      summary: /audiences
      description: ''
      operationId: audiences-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                audiences:
                  type: array
                  description: The list of audiences to update
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Audiences
    delete:
      summary: /audiences
      description: ''
      operationId: audiences-delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                ids:
                  type: array
                  description: The ids of the audiences to delete
                  items:
                    type: integer
                    format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Audiences
  /audiences/emails:
    get:
      summary: /audiences/emails
      description: ''
      operationId: audiencesemails
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: The id for the audience to fetch all emails from.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'':''ok'',

                    ''audiences'':[''a@a.a'',''b@b.gmail'']}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Audiences
  /audiences/list:
    get:
      summary: /audiences/list
      description: ''
      operationId: audienceslist
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'':''ok''}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Audiences
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
