openapi: 3.2.0
info:
  title: api-settings Synonyms API
  version: '2'
servers:
- url: https://api.clerk.io/v2
security:
- sec0: []
tags:
- name: Synonyms
paths:
  /synonyms:
    get:
      summary: /synonyms
      description: ''
      operationId: synonyms-get
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        schema:
          type: string
      - name: synonyms
        in: query
        description: The queries which to fetch synonyms for
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'status' : 'ok',\n  'synonyms' :\n  \t[\n      {'query':'hello', 'directed_synonyms':['hi'],'synonyms':['hello there','greetings']},\n      {'query':'shirt', 'directed_synonyms':['sweater'],'synonyms':['cardigan']}\n    ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Synonyms
    post:
      summary: /synonyms
      description: ''
      operationId: synonyms-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                synonyms:
                  type: array
                  description: List of synonym objects
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'status' : 'ok',\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Synonyms
    patch:
      summary: /synonyms
      description: ''
      operationId: synonyms-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                synonyms:
                  type: array
                  description: List of synonym objects
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'status' : 'ok',\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Synonyms
    delete:
      summary: /synonyms
      description: ''
      operationId: synonyms-delete
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        schema:
          type: string
      - name: synonyms
        in: query
        description: The queries which to delete synonyms for
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'status' : 'ok',\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Synonyms
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
