openapi: 3.2.0
info:
  title: api-settings Categories API
  version: '2'
servers:
- url: https://api.clerk.io/v2
security:
- sec0: []
tags:
- name: Categories
paths:
  /categories:
    get:
      summary: /categories
      description: Get categories from Clerk.io
      operationId: categories-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: categories
        in: query
        description: List of category ID's to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Categories
    post:
      summary: /categories
      description: Add or update categories in Clerk.io
      operationId: categories-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - categories
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                categories:
                  type: array
                  description: List of [categories](/reference/category-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Categories
    patch:
      summary: /categories
      description: Patch existing categories in Clerk.io with new attributes or values.
      operationId: categories-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - categories
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                categories:
                  type: array
                  description: List of partial category objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Categories
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
