openapi: 3.2.0
info:
  title: api-settings Orders API
  version: '2'
servers:
- url: https://api.clerk.io/v2
security:
- sec0: []
tags:
- name: Orders
paths:
  /orders:
    get:
      summary: /orders
      description: Get orders from Clerk.io
      operationId: orders-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: orders
        in: query
        description: List of order ID's to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
    post:
      summary: /orders
      description: Add or update orders in Clerk.io
      operationId: orders-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - orders
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                orders:
                  type: array
                  description: List of [orders](/reference/order-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
    patch:
      summary: /orders
      description: Patch existing orders in Clerk.io with new attributes or values.
      operationId: orders-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - orders
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                orders:
                  type: array
                  description: List of partial order objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
    delete:
      summary: /orders
      description: Delete orders from Clerk.io
      operationId: orders-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: orders
        in: query
        description: List of order ID's to delete from Clerk.io
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
  /orders/parcels:
    get:
      summary: /orders/parcels
      description: Allows you to fetch all parcels associated with a given Order.
      operationId: parcels-get
      parameters:
      - name: key
        in: query
        description: Public key
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Private key
        required: true
        schema:
          type: string
      - name: order_id
        in: query
        description: ID of the order to fetch tracking information for
        required: true
        schema:
          type: string
      - name: parcel_id
        in: query
        description: ID of the specific parcel you want to retrieve
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
    post:
      summary: /orders/parcels
      description: Allows you to create parcels associated with a given Order.
      operationId: parcels-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - order_id
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                order_id:
                  type: string
                  description: The ID of the order tied to the parcel.
                tracking_code:
                  type: string
                  description: Tracking code associated with the parcel.
                tracking_link:
                  type: string
                  description: Link from the carrier, including the tracking code in the query parameters.
                status:
                  type: string
                  description: Semantic description of the parcel status.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
    patch:
      summary: /orders/parcels
      description: Allows you to edit parcels associated with a given Order.
      operationId: parcels-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - parcel_id
              - order_id
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                parcel_id:
                  type: string
                  description: The ID of the parcel you are patching
                order_id:
                  type: string
                  description: The ID of the order tied to the parcel
                tracking_code:
                  type: string
                  description: Tracking code associated with the parcel
                tracking_link:
                  type: string
                  description: Link from the carrier, including the tracking code in the query parameters.
                status:
                  type: string
                  description: Semantic description of the parcel status.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
    delete:
      summary: /orders/parcels
      description: Allows you to delete parcels associated with a given Order.
      operationId: parcels-delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - parcel_id
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                parcel_id:
                  type: string
                  description: The ID of the parcel you want to delete.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Orders
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
