# Harvested 2026-08-13 by the API Evangelist enrichment pipeline.
# method: searched
# source: https://docs.clerk.io/reference/* (ReadMe API Designer OpenAPI 3.1.0 fragments
#         embedded in each reference page's ssr-props payload, merged path-by-path).
# Ownership: servers[] is https://api.clerk.io/v2 and every path matches Clerk.io's own
# documented product surface; harvested from Clerk.io's own docs host docs.clerk.io.
# Provider content is preserved verbatim; only document assembly (path merge) is ours.
openapi: 3.1.0
info:
  title: api-settings
  version: '2'
servers:
- url: https://api.clerk.io/v2
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: key
      in: query
      x-default: your_api_key
security:
- sec0: []
paths:
  /accessories:
    get:
      summary: /accessories
      description: ''
      operationId: accessories-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: accessories
        in: query
        description: List of product ID's to get the data for.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{'status': 'ok',\n 'accessories':[\n  \t{'product': 'AV-DHONO',\n   \t 'accessories': ['JBL-GO'],\n\
                    \   \t 'directed_accessories': ['LDY84']}\n   ]\n }"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /accessories
      description: ''
      operationId: accessories-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                accessories:
                  type: array
                  description: list of accessory objects
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'': ''ok''}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /accessories
      description: ''
      operationId: accessories-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                accessories:
                  type: array
                  description: list of accessory objects
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'': ''ok''}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /accessories
      description: ''
      operationId: accessories-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: accessories
        in: query
        description: List of product ID's to delete accessories for
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'': ''ok'' }'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /audiences:
    get:
      summary: /audiences
      description: ''
      operationId: audiences-get
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: The ids of the audiences to fetch
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /audiences
      description: ''
      operationId: audiences-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                audiences:
                  type: array
                  description: The list of audiences to create
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /audiences
      description: ''
      operationId: audiences-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                audiences:
                  type: array
                  description: The list of audiences to update
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /audiences
      description: ''
      operationId: audiences-delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                ids:
                  type: array
                  description: The ids of the audiences to delete
                  items:
                    type: integer
                    format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /audiences/emails:
    get:
      summary: /audiences/emails
      description: ''
      operationId: audiencesemails
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: The id for the audience to fetch all emails from.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'':''ok'',

                    ''audiences'':[''a@a.a'',''b@b.gmail'']}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /audiences/list:
    get:
      summary: /audiences/list
      description: ''
      operationId: audienceslist
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'':''ok''}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /campaigns/click:
    get:
      summary: campaigns/click
      description: Redirect the customer to the product corresponding to the previously rendered image from campaigns/embed.
      operationId: campaigns-click
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The email of the customer to load the recommendation for.
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: ID of the Hosted Template to be embedded.
        required: true
        schema:
          type: string
      - name: n
        in: query
        description: Loading the n-th product in the set of recommended products. n is 0-indexed.
        required: true
        schema:
          type: integer
          format: int32
      - name: v
        in: query
        description: Unique version number of the email (ideally a random number per email or else a campaign id or date string).
        required: true
        schema:
          type: string
      - name: append
        in: query
        description: Append this string to the redirect link URL.
        schema:
          type: string
      - name: prepend
        in: query
        description: Prepend this string to the redirect URL.
        schema:
          type: string
      - name: filter
        in: query
        description: An attribute filter to filter the result. See API documentation on Filters for details.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "// Redirects to the product URL.\n\n{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl http://api.clerk.io/v2/campaigns/click?key=store_api_key&email=john@doe.com&embed=reciept-email&n=0&v=1234567890&filter=price+>+10
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"email\": \"john@doe.com\",\n          \"embed\": \"reciept-email\",\n          \"n\": 0,\n         \
            \ \"v\": 1234567890,\n          \"filter\": \"price > 10\"}' \\\n     http://api.clerk.io/v2/campaigns/click"
          name: POST
        samples-languages:
        - curl
  /campaigns/embed:
    get:
      summary: campaigns/embed
      description: Render a recommendation onto a dynamic image for embedding dynamic content in a email.
      operationId: campaigns-embed
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The email of the customer to load the recommendation for.
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: ID of the Hosted Template to be embedded.
        required: true
        schema:
          type: string
      - name: n
        in: query
        description: Loading the n-th product in the set of recommended products. n is 0-indexed.
        required: true
        schema:
          type: integer
          format: int32
      - name: v
        in: query
        description: Unique version number of the email (ideally a random number per email or else a campaign id or date string).
        required: true
        schema:
          type: string
      - name: append
        in: query
        description: Append this string to the redirect link URL.
        schema:
          type: string
      - name: prepend
        in: query
        description: Prepend this string to the redirect URL.
        schema:
          type: string
      - name: filter
        in: query
        description: An attribute filter to filter the result. See API documentation on Filters for details.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "// Redirects to the dynamically generated image on success.\n\n{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl http://api.clerk.io/v2/campaigns/embed?key=store_api_key&email=john@doe.com&embed=reciept-email&n=0&v=1234567890&filter=price+>+10
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"email\": \"john@doe.com\",\n          \"embed\": \"reciept-email\",\n          \"n\": 0,\n         \
            \ \"v\": 1234567890,\n          \"filter\": \"price > 10\"}' \\\n     http://api.clerk.io/v2/campaigns/embed"
          name: POST
        samples-languages:
        - curl
  /categories:
    get:
      summary: /categories
      description: Get categories from Clerk.io
      operationId: categories-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: categories
        in: query
        description: List of category ID's to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /categories
      description: Add or update categories in Clerk.io
      operationId: categories-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - categories
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                categories:
                  type: array
                  description: List of [categories](/reference/category-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /categories
      description: Patch existing categories in Clerk.io with new attributes or values.
      operationId: categories-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - categories
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                categories:
                  type: array
                  description: List of partial category objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /customers:
    get:
      summary: /customers
      description: Get customers from Clerk.io
      operationId: customers-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: customers
        in: query
        description: List of customers emails to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /customers
      description: Add or update customers in Clerk.io
      operationId: customers-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - customers
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                customers:
                  type: array
                  description: List of [customers](/reference/customer-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /customers
      description: Patch existing customers in Clerk.io with new attributes or values.
      operationId: customers-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - customers
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                customers:
                  type: array
                  description: List of partial [customer](/reference/customer-resource) objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /customers
      description: Delete customers from Clerk.io
      operationId: customers-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: customers
        in: query
        description: List of customer ID's to delete from Clerk.io
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /customized_search:
    get:
      summary: /customized_search
      description: ''
      operationId: customized-searches-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        schema:
          type: string
      - name: rules
        in: query
        description: the list of rule queries which you want to retrieve customized search rules for
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    'query': 'abc',\n   \t'products': {'pin': [1,2], 'hide': []},\n   \t'categories': {'pin':\
                    \ [45], 'hide': []},\n   \t'pages': {'pin': [], 'hide': []},\n   \t'suggestions': {'pin': ['bcd'], 'hide':\
                    \ []}\n\t}\n]"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /customized_search
      description: ''
      operationId: customized-searches-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                rules:
                  type: array
                  description: list of customized_search objects
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /customized_search
      description: ''
      operationId: customized-searches-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                rules:
                  type: array
                  description: list of customized_search objects
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /customized_search
      description: ''
      operationId: customized-searches-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        schema:
          type: string
      - name: rules
        in: query
        description: the list of queries you want to delete customized search rules for
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /log/cart/add:
    get:
      summary: log/cart/add
      description: Add products to a customers cart. A product is defined as a basket_product object  (see below)
      operationId: logcartadd
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: A list of products in the form of **basket_products**
        required: true
        schema:
          type: array
      - name: visitor
        in: query
        description: Visitor id belonging to the basket
        schema:
          type: string
      - name: email
        in: query
        description: Email belonging to the basket
        schema:
          type: string
      - name: basket_id
        in: query
        description: Will be self assigned if one is not provided
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/cart/add?key=store_api_key&products=[{"id":"abc","qty":3}]&visitor=bob
        samples-languages:
        - curl
  /log/cart/remove:
    get:
      summary: log/cart/remove
      description: remove products from a customers cart. A product is defined as a basket_product object (see below)
      operationId: logcartremove
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: A list of products in the form of **basket_products**
        required: true
        schema:
          type: array
      - name: visitor
        in: query
        description: Visitor id belonging to the basket
        schema:
          type: string
      - name: email
        in: query
        description: Email belonging tot he basket
        schema:
          type: string
      - name: basket_id
        in: query
        description: Will be self assigned if one is not provided
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/cart/remove?key=store_api_key&products=[{"id":"abc","qty":3}]&visitor=bob
        samples-languages:
        - curl
  /log/cart/update:
    get:
      summary: log/cart/update
      description: Sets the customers basket to the given products. A product is defined as a basket_product object (see below)
      operationId: logcartupdate
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: A list of products in the form of **basket_products**
        required: true
        schema:
          type: array
      - name: visitor
        in: query
        description: Visitor id belonging to the basket
        schema:
          type: string
      - name: email
        in: query
        description: Email belonging tot he basket
        schema:
          type: string
      - name: basket_id
        in: query
        description: Will be self assigned if one is not provided
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/cart/update?key=store_api_key&products=[{"id":"abc","qty":3}]&visitor=bob
        samples-languages:
        - curl
  /log/category:
    get:
      summary: log/category
      description: Log a category view from a customer
      operationId: logcategory
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: category
        in: query
        description: ID of the product that the visitor viewed.
        required: true
        schema:
          type: string
      - name: visitor
        in: query
        description: Visitor ID for the given visitor. <br/> If `auto`, an anonymous ID is generated. <br/> See <a href="https://docs.clerk.io/docs/visitor-tracking"
          target="_blank">API documentation on Visitor Tracking</a> for details.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/category?key=store_api_key&category=123&visitor=unique_visitor_id
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"product\": 123,\n          \"visitor\": \"unique_visitor_id\"}' \\\n       https://api.clerk.io/v2/log/category"
          name: POST
        samples-languages:
        - curl
  /log/click:
    get:
      summary: log/click
      description: Log a click on a product from Clerk.io.
      operationId: log-click
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: product
        in: query
        description: ID pf the clicked product.
        required: true
        schema:
          type: string
      - name: visitor
        in: query
        description: '<small style="color: #eea236;">Required for tracking</small><br/>Visitor ID for the given visitor. <br/>
          If `auto`, an anonymous ID is generated. <br/> See <a href="https://docs.clerk.io/docs/visitor-tracking" target="_blank">API
          documentation on Visitor Tracking</a> for details.'
        required: true
        schema:
          type: string
      - name: api
        in: query
        description: The API endpoint used to generate the result for this click.
        schema:
          type: string
      - name: n
        in: query
        description: The clicked products position in the result (0-indexed).
        schema:
          type: integer
          format: int32
      - name: external
        in: query
        description: Is this a external click from outside the website such as a email or an ad.
        schema:
          type: boolean
          default: false
      - name: labels
        in: query
        description: The label(s) of the API endpoint used to generate this click
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/click?key=store_api_key&product=123&visitor=unique_visitor_id
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"product\": 123,\n          \"visitor\": \"unique_visitor_id\"}' \\\n       https://api.clerk.io/v2/log/click"
          name: POST
        samples-languages:
        - curl
  /log/email:
    get:
      summary: log/email
      description: Associate an email with a visitor.
      operationId: log-email
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The visitors email.
        required: true
        schema:
          type: string
      - name: visitor
        in: query
        description: Visitor ID for the given visitor. <br/> If `auto`, an anonymous ID is generated. <br/> See <a href="https://docs.clerk.io/docs/visitor-tracking"
          target="_blank">API documentation on Visitor Tracking</a> for details.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/email?key=store_api_key&email=john@doe.com&visitor=unique_visitor_id
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"product\": 123,\n          \"visitor\": \"unique_visitor_id\"}' \\\n       https://api.clerk.io/v2/log/click"
          name: POST
        samples-languages:
        - curl
  /log/product:
    get:
      summary: log/product
      description: Log a product view from a customer
      operationId: logproduct
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: product
        in: query
        description: ID of the product that the visitor viewed.
        required: true
        schema:
          type: string
      - name: visitor
        in: query
        description: Visitor ID for the given visitor. <br/> If `auto`, an anonymous ID is generated. <br/> See <a href="https://docs.clerk.io/docs/visitor-tracking"
          target="_blank">API documentation on Visitor Tracking</a> for details.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/log/product?key=store_api_key&product=123&visitor=unique_visitor_id
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"product\": 123,\n          \"visitor\": \"unique_visitor_id\"}' \\\n       https://api.clerk.io/v2/log/product"
          name: POST
        samples-languages:
        - curl
  /log/returned:
    get:
      summary: log/returned
      description: Log a product that was returned, on an order.
      operationId: logreturned
      parameters:
      - name: key
        in: query
        description: Your store API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your store private API key.
        required: true
        schema:
          type: string
      - name: product
        in: query
        description: ID of the product.
        required: true
        schema:
          type: string
      - name: order
        in: query
        description: ID of the order / sale.
        required: true
        schema:
          type: string
      - name: quantity
        in: query
        description: The amount of returned products
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: '    curl https://api.clerk.io/v2/log/returned?key=store_api_key&private_key=store_private_api_key&product=123&order=456&quantity=2'
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"private_key\": \"store_private_api_key\",\n          \"product\": 123,\n          \"order\": 456,\n\
            \          \"quantity\":1}' \\\n     https://api.clerk.io/v2/log/returned"
          name: POST
        samples-languages:
        - curl
  /log/sale:
    get:
      summary: log/sale
      description: Log a sale / order made by a user.
      operationId: log-sale
      parameters:
      - name: key
        in: query
        description: You store API key
        required: true
        schema:
          type: string
      - name: sale
        in: query
        description: ID of the order / sale.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: List of products in the order. Can be a simple list of product IDs or a list of objects with ID, price
          and quantity.
        required: true
        schema:
          items:
            properties:
              id:
                type: integer
                description: The ID of the product that was bought.
                format: int32
              quantity:
                type: integer
                description: The number of identical products that were bought. Minimum 1.
                format: int32
              price:
                type: number
                description: The unit price of the product that was bought. This will be multiplied by the quantity in Clerk.
                format: float
            type: object
          type: array
        style: deepObject
        explode: true
      - name: visitor
        in: query
        description: '<small style="color: #eea236;">Required for tracking</small><br/>Visitor ID for the given visitor. <br/>
          If `auto`, an anonymous ID is generated. <br/> See <a href="https://docs.clerk.io/docs/visitor-tracking" target="_blank">API
          documentation on Visitor Tracking</a> for details.'
        schema:
          type: string
      - name: customer
        in: query
        description: ID of the customer who made the order / sale.
        schema:
          type: string
      - name: email
        in: query
        description: The email of the customer who mae the order / sale.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"sale\": 567,\n          \"products\": [\n            {\n              \"id\": 1,\n              \"price\"\
            : 99.95,\n              \"quantity\": 2\n            }, \n            {\n              \"id\": 33,\n         \
            \     \"price\": 14.00,\n              \"quantity\": 2\n            }\n          ],\n          \"customer\": 1234,\n\
            \          \"email\": \"theone@matrix.com\",\n          \"visitor\":  \"a1d0c6e83f027327d8461063f4ac58a6\"}' \\\
            \n       https://api.clerk.io/v2/log/sale"
          name: POST
        - language: text
          code: curl https://api.clerk.io/v2/log/sale?key=store_api_key&sale=123456&email=john@doe.com&products=[123,456]
          name: GET
        samples-languages:
        - curl
        - text
    post:
      summary: log/sale
      description: Log a sale / order made by a user.
      operationId: logsale-copy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - sale
              - products
              properties:
                key:
                  type: string
                  description: You store API key
                customer:
                  type: string
                  description: ID of the customer who made the order / sale.
                email:
                  type: string
                  description: The email of the customer who mae the order / sale.
                sale:
                  type: string
                  description: ID of the order / sale.
                products:
                  type: array
                  description: List of products in the order. Can be a simple list of product IDs or a list of objects with
                    ID, price and quantity.
                  items:
                    properties:
                      id:
                        type: integer
                        description: The ID of the product that was bought.
                        format: int32
                      quantity:
                        type: integer
                        description: The number of identical products that were bought. Minimum 1.
                        format: int32
                      price:
                        type: number
                        description: The unit price of the product that was bought. This will be multiplied by the quantity
                          in Clerk.
                        format: float
                    type: object
                visitor:
                  type: string
                  description: '<small style="color: #eea236;">Required for tracking</small><br/>Visitor ID for the given
                    visitor. <br/> If `auto`, an anonymous ID is generated. <br/> See <a href="https://docs.clerk.io/docs/visitor-tracking"
                    target="_blank">API documentation on Visitor Tracking</a> for details.'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"sale\": 567,\n          \"products\": [\n            {\n              \"id\": 1,\n              \"price\"\
            : 99.95,\n              \"quantity\": 2\n            }, \n            {\n              \"id\": 33,\n         \
            \     \"price\": 14.00,\n              \"quantity\": 2\n            }\n          ],\n          \"customer\": 1234,\n\
            \          \"email\": \"theone@matrix.com\",\n          \"visitor\":  \"a1d0c6e83f027327d8461063f4ac58a6\"}' \\\
            \n       https://api.clerk.io/v2/log/sale"
          name: POST
        - language: text
          code: curl https://api.clerk.io/v2/log/sale?key=store_api_key&sale=123456&email=john@doe.com&products=[123,456]
          name: GET
        samples-languages:
        - curl
        - text
  /merchandising:
    get:
      summary: /merchandising
      description: ''
      operationId: merchandising-get
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: campaigns
        in: query
        description: The ids for the merchandising campaign
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'status': 'ok',\n  'campaigns': [\n    {'id': 'saa',\n \t\t'name': 'saa',\n \t\t'description':\
                    \ '',\n \t\t'active': True,\n \t\t'start_at': None,\n \t\t'end_at': None,\n \t\t'rules': [{'action': 'pin',\
                    \ 'products': ['MC-PRBO1100']}],\n \t\t'triggers': [{'type': 'searches_all'}],\n \t\t'triggers_match':\
                    \ 'any'}\n  ]\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
    post:
      summary: /merchandising
      description: ''
      operationId: merchandising-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - campaigns
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                campaigns:
                  type: array
                  description: The campaigns which should be created. Consists of merchandising objects without ids.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{ 'status': 'ok',\n\t'campaign_ids':['c1','c2']}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
    patch:
      summary: /merchandising
      description: ''
      operationId: merchandising-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - campaigns
              properties:
                key:
                  type: string
                  description: The public key of the store
                private_key:
                  type: string
                  description: The private key of the store
                campaigns:
                  type: array
                  description: The merchandising campaigns which should be updated. Consists of merchandising objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{ ''status'': ''ok'',}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
    delete:
      summary: /merchandising
      description: ''
      operationId: merchandising-delete
      parameters:
      - name: key
        in: query
        description: The public key of the store
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: The private key of the store
        required: true
        schema:
          type: string
      - name: campaigns
        in: query
        description: The ids for the merchandising campaigns which should be deleted
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{''status'': ''ok'',}'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{request: bad}'
      deprecated: false
  /orders:
    get:
      summary: /orders
      description: Get orders from Clerk.io
      operationId: orders-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: orders
        in: query
        description: List of order ID's to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /orders
      description: Add or update orders in Clerk.io
      operationId: orders-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - orders
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                orders:
                  type: array
                  description: List of [orders](/reference/order-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /orders
      description: Patch existing orders in Clerk.io with new attributes or values.
      operationId: orders-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - orders
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                orders:
                  type: array
                  description: List of partial order objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /orders
      description: Delete orders from Clerk.io
      operationId: orders-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: orders
        in: query
        description: List of order ID's to delete from Clerk.io
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /orders/parcels:
    get:
      summary: /orders/parcels
      description: Allows you to fetch all parcels associated with a given Order.
      operationId: parcels-get
      parameters:
      - name: key
        in: query
        description: Public key
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Private key
        required: true
        schema:
          type: string
      - name: order_id
        in: query
        description: ID of the order to fetch tracking information for
        required: true
        schema:
          type: string
      - name: parcel_id
        in: query
        description: ID of the specific parcel you want to retrieve
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /orders/parcels
      description: Allows you to create parcels associated with a given Order.
      operationId: parcels-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - order_id
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                order_id:
                  type: string
                  description: The ID of the order tied to the parcel.
                tracking_code:
                  type: string
                  description: Tracking code associated with the parcel.
                tracking_link:
                  type: string
                  description: Link from the carrier, including the tracking code in the query parameters.
                status:
                  type: string
                  description: Semantic description of the parcel status.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /orders/parcels
      description: Allows you to edit parcels associated with a given Order.
      operationId: parcels-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - parcel_id
              - order_id
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                parcel_id:
                  type: string
                  description: The ID of the parcel you are patching
                order_id:
                  type: string
                  description: The ID of the order tied to the parcel
                tracking_code:
                  type: string
                  description: Tracking code associated with the parcel
                tracking_link:
                  type: string
                  description: Link from the carrier, including the tracking code in the query parameters.
                status:
                  type: string
                  description: Semantic description of the parcel status.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /orders/parcels
      description: Allows you to delete parcels associated with a given Order.
      operationId: parcels-delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - parcel_id
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                parcel_id:
                  type: string
                  description: The ID of the parcel you want to delete.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /pages:
    get:
      summary: /pages
      description: Get pages from Clerk.io
      operationId: pages-get
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: pages
        in: query
        description: List of page ID's to get the data for.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: /pages
      description: Add or update pages in Clerk.io
      operationId: pages-post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - pages
              properties:
                key:
                  type: string
                  description: Your stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                pages:
                  type: array
                  description: List of [pages](/reference/page-resource) to add or update.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: /pages
      description: Patch existing pages in Clerk.io with new attributes or values.
      operationId: pages-patch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - key
              - private_key
              - pages
              properties:
                key:
                  type: string
                  description: You stores public API key.
                private_key:
                  type: string
                  description: Your stores private API key.
                pages:
                  type: array
                  description: List of partial page objects.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: /pages
      description: Delete pages from Clerk.io
      operationId: pages-delete
      parameters:
      - name: key
        in: query
        description: Your stores public API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your stores private API key.
        required: true
        schema:
          type: string
      - name: pages
        in: query
        description: List of page ID's to delete from Clerk.io
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"status":"ok"}'
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /privacy/forget:
    get:
      summary: privacy/forget
      description: Forget all available info Clerk.io has on a visitor or customer.
      operationId: privacy-forget
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your store private API key.
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: Email to forget info for.
        schema:
          type: string
      - name: customer
        in: query
        description: Customer ID to forget info for.
        schema:
          type: string
      - name: visitor
        in: query
        description: Visitor ID to forget info for.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/privacy/forget?key=store_api_key&private_key=store_private_key&email=john.doe@example.com
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"private_key\": \"store_private_api_key\"\n          \"email\": \"john.doe@example.com\"}' \\\n     https://api.clerk.io/v2/privacy/forget"
          name: POST
        samples-languages:
        - curl
  /privacy/info:
    get:
      summary: privacy/info
      description: Get all available info Clerk.io has on a visitor or customer.
      operationId: privacy-info
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your store private API key.
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: Email to retrieve info for.
        schema:
          type: string
      - name: customer
        in: query
        description: Customer ID to retrieve info for.
        schema:
          type: string
      - name: visitor
        in: query
        description: Visitor ID to retrieve info for.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\",\n  \"orders\": [123, 456, 789],\n  \"activity\": [\n    {\n      \"visitor\"\
                    : \"123ABc\",\n      \"type\": \"other\",\n      \"description\": \"Some tracked activity\"\n      \"\
                    time\": 1527206400\n    }\n  ]\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: A message explaining the error.
                  moreInfo:
                    type: string
                    example: http://help.clerk.io/error/{ERROR_ID}
                  type:
                    type: string
                    example: ErrorType
                  id:
                    type: string
                    example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl https://api.clerk.io/v2/privacy/info?key=store_api_key&private_key=store_private_key&email=john.doe@example.com
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"private_key\": \"store_private_api_key\"\n          \"email\": \"john.doe@example.com\"}' \\\n     https://api.clerk.io/v2/privacy/info"
          name: POST
        samples-languages:
        - curl
  /product/add:
    get:
      summary: product/add
      description: Bulk add new / changed products to a store.
      operationId: product-add
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: private_key
        in: query
        description: Your store private API key.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: List of the product objects to add. If the product already exists it will be overridden with the new
          data.
        required: true
        schema:
          type: array
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\"\n}"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"private_key\": \"store_private_api_key\"\n          \"products\": [\n                {\n           \
            \       \"id\": 123,\n                  \"name\": \"Green Lightsaber\",\n                  \"description\": \"\
            Antiuque rebel lightsaber.\",\n                  \"price\": 99995.95,\n                  \"brand\": \"Je’daii\"\
            ,\n                  \"categories\": [987, 654],\n                  \"created_at\": 1199145600\n             \
            \   },\n                  {\n                  \"id\": 789,\n                  \"name\": \"Death Star Deluxe\"\
            ,\n                  \"description\": \"Death Star. Guaranteed idiot proof. \"\n                  \"price\": 99999999999999.95,\n\
            \                  \"brand\": \"Imperial Inc.\",\n                  \"categories\": [345678],\n              \
            \    \"created_at\": 11991864600\n                }\n          ]}' \\\n     https://api.clerk.io/v2/product/add"
          name: POST
        samples-languages:
        - curl
  /product/attributes:
    get:
      summary: product/attributes
      description: Loads the given attributes for the given products. See the API documentation for Product Metadata to embed
        this with every avary call.
      operationId: product-attributes
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: List of Product ID's to return attributes for.
        required: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: attributes
        in: query
        description: Product attributes to be provided in the response. See API documentation on Product Metadata for details.
          If none is provided all available attributes will be returned.
        schema:
          type: array
          items:
            type: string
      - name: language
        in: query
        description: The language if the store is using multiple languages. If not provided the most used language in the
          store will be used.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": 123,\n    \"name\": \"Wombat Wand\",\n    \"price\": 14.95\n  },\n    {\n  \
                    \  \"id\": 123,\n    \"name\": \"Green Light Saber\",\n    \"price\": 99995.95\n  },\n    {\n    \"id\"\
                    : 789,\n    \"name\": \"Death Star Deluxe\",\n    \"price\": 99999999999999.95\n  }\n]"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
                        default: 0
                      name:
                        type: string
                        example: Wombat Wand
                      price:
                        type: number
                        example: 14.95
                        default: 0
                - title: Error
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: A message explaining the error.
                    moreInfo:
                      type: string
                      example: http://help.clerk.io/error/{ERROR_ID}
                    type:
                      type: string
                      example: ErrorType
                    id:
                      type: string
                      example: '{ERROR_ID}'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: curl http://api.clerk.io/v2/product/attributes?key=store_api_key&products=[123,456,789]&attributes=id,name,price
          name: GET
        - language: curl
          code: "curl -X POST \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"key\": \"store_api_key\",\n   \
            \       \"products\": [123, 456, 789],\n          \"attributes\": [\"id\", \"name\", \"price\"]}' \\\n     http://api.clerk.io/v2/product/attributes"
          name: POST
        samples-languages:
        - curl
  /product/facets:
    get:
      summary: product/facets
      description: Loads the facet groups available for the given products and attributes.
      operationId: product-facets
      parameters:
      - name: key
        in: query
        description: You store API key.
        required: true
        schema:
          type: string
      - name: products
        in: query
        description: List of product IDs. If not provided facets will be computed for all products.
        schema:
          type: array
          items:
            type: string
      - name: attributes
        in: query
        description: Product attributes to be provided in the response. See API documentation on Product Metadata for details.
          If none is provided all available attributes will be returned.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": \"ok\",\n  \"facets\": {\n    \"categories\": [\n      {\n        \"count\": 2,\n\
                    \        \"type\": \"unit\",\n        \"name\": \"Imperial Inc.\",\n        \"value\": \"Imperial Inc.\"\
                    \n      },\n      {\n        \"count\": 1,\n        \"type\": \"unit\",\n        \"name\": \"Je’daii\"\
                    ,\n        \"value\": \"Je’daii\"\n      }\n    ],\n    \"price\": [\n      {\n        \"max\": 49.0,\n\
                    \        \"type\": \"range\",\n        \"name\": \"0 - 49\",\n        \"min\": 0.0\n      },\n      {\n\
                    \        \"max\": 99.0,\n        \"type\": \"range\",\n        \"name\": \"50 - 99\",\n        \"min\"\
                    : 50.0\n      },\n      {\n        \"max\": 750,\n        \"type\": \"range\",\n        \"name\": \">\
                    \ 100\",\n        \"min\": 100\n      }\n    ]\n  }\n}\n"
                Error:
                  value: "{\n  \"status\": \"error\",\n  \"message\": \"A message explaining the error.\",\n  \"moreInfo\"\
                    : \"http://help.clerk.io/error/{ERROR_ID}\",\n  \"type\": \"ErrorType\",\n  \"id\": \"{ERROR_ID}\"\n}"
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    facets:
                      type: object
                      properties:
                        categories:
                          type: array
                          items:
                            type: object
                            properties:
                              count:
                                type: integer
                                example: 2
                                default: 0
[...]
